services:
  sql-server:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: mcp-sql-server-db
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong!Passw0rd
      - MSSQL_PID=Developer
    ports:
      - "1433:1433"
    volumes:
      - sqlvolume_v3:/var/opt/mssql

volumes:
  sqlvolume_v3: {}
